/* Global CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary-color: #fca103;
    --secondary-color: #0945F6;
    --tertiary-color: #ffffff;
    --spacing-1: 16px;
    --border-radius: 12px;
    --spacing-3: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    height: 100%;
}
h1, h2 {
    margin: 10px 0;
}
img {
    height: 300px;
    width: 300px;
    border-radius: var(--border-radius);    
}
nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
    /* height: 70px; */
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo  {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 2em;
}
ul  {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-link a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--tertiary-color);
    font-size: 1.3em;
}
/* ABOUT ME CSS */
/* #about-me {
    min-height: 100vh;
} */
.about-me-text-container {
    margin-left: var(--spacing-1);
}
/* p.about-story {
    margin: 10px 0;
} */
#about-me, h2, .about-story {
    padding: 0 60px;
}
/* Projecets Styling */
#projects {
    /* height: 100vh; */
    text-align: center;
    width: 100%;
    padding: 7rem .1rem;
    background-color: var(--primary-color);
}
#projects .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    margin-top: 2rem;
}
#projects .container>h2 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: .6rem;
    line-height: 1.2;
}
/* #projects .projects .box {
    background-color: #eee;
    border: 5px solid #eee;
    border-radius: 3px;
  } */
#projects .projects .box a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
#projects .projects .box a p {
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: #333;
} 
.code {
    color: #eee;
    transition: .5s all ease;
    font-size: 1.6rem;
}
  
#projects .projects .box:hover .code {
    color: var(--primary-color);
}
  /*SKILLS Styling  */
  #skills {
      text-align: center;
      padding: 7rem .1rem;
}
.skills-container {
     display: flex;
     width: 100%;
    justify-content: space-evenly;
}
#skills h2 {
    padding-bottom: 15px;
}
/* ----------------------------------CONTACT-------------------------------------------------------------------------------------------- */
#contact {
    /* height: 80vh; */
    background-color: var(--secondary-color);
    color: #fff;
}
  
#contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
#contact .container h1 {
    font-size: 3.4rem;
    font-weight: bolder;
    padding-bottom: .1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
  
#contact .container p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
  
#contact .container .social>div a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #eee;
    margin: 1rem 2rem;
    font-weight: bolder;
    transition: transform .5s;
}
  
  #contact .container .social>div a:hover {
    transform: translateY(-5px);
}

/* Utilities CSS */
.container {
    overflow: auto;
    max-width: 1500px;
    padding: 0 50px;
}
nav ul {
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#dmbutton {
    padding: 10px 20px;
    border-radius: 4px;
    margin-left: 10px;
}
@media only screen and (max-width: 600px) {
    ul {
        margin-bottom: 10px;
    }
    .nav-link a {
        margin-left: 20px;
    }
    .flex{
      flex-direction: column;
    }
    #about-me, h2, .about-story {
        padding: 20px 0;
    }
    #projects .projects {
        display: flex;
        flex-direction: column;
    }
    #contact {
        text-align: center;
    }
    #contact .container .social>div a {
        display: block; 
    }
     #dmbutton {
         margin-bottom: 10px;
     }
  }